{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <header>
    </header>
    <div class="banner">
        <div class="list">
            <div class="item"><img src="{{ url_for('static', filename='imagenes/image.png') }}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='imagenes/image_2.png') }}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='imagenes/image_3.png') }}" alt=""></div>
        </div>
    </div>
    <h1>Bienvenido a nuestra página de inicio</h1>
    <p>Este es el archivo desde la página creada.</p>
    <a href="#">Enlace con imagen de fondo</a>
    <footer>
    </footer>
{% endblock %}
