{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <header>
        <!-- Encabezado si es necesario -->
    </header>
    <div class="banner">
        <!-- Fila de imágenes superior -->
        <div class="list">
            <div class="item">
                <a href="{{ url_for('data') }}">
                    <img src="{{ url_for('static', filename='imagenes/vinos2.jpg') }}" alt="Data">
                    <div class="label">Data</div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('modelo') }}">
                    <img src="{{ url_for('static', filename='imagenes/vinos5.jpg') }}" alt="Modelo">
                    <div class="label">Modelo/Resultados</div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('predicciones') }}">
                    <img src="{{ url_for('static', filename='imagenes/image_04.png') }}" alt="Predicciones">
                    <div class="label">Predicciones</div>
                </a>
            </div>
        </div>
        <!-- Fila para la cuarta imagen -->
        <div class="list center">
            <div class="item">
                <a href="{{ url_for('retrain') }}">
                    <img src="{{ url_for('static', filename='imagenes/ashoka.jpeg') }}" alt="Retrain">
                    <div class="label">Retrain</div>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <!-- Pie de página si es necesario -->
    </footer>
{% endblock %}
