{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <header>
        
    </header>
    <div class="banner">
        <div class="list">
            <div class="item">
                <a href="{{ url_for('data') }}">
                    <img src="{{ url_for('static', filename='imagenes/image.png') }}" alt="Data">
                    <div class="label">Data</div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('modelo') }}">
                    <img src="{{ url_for('static', filename='imagenes/image_2.png') }}" alt="Modelo">
                    <div class="label">Modelo/Resultados</div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('retrain') }}">
                    <img src="{{ url_for('static', filename='imagenes/image_3.png') }}" alt="Retrain">
                    <div class="label">Retrain</div>
                </a>
            </div>
        </div>
    </div>
    <footer>
    </footer>
{% endblock %}
