{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <ul id="barra">
        <li><a href="{{ url_for('data') }}">Data</a></li>
        <li><a href="{{ url_for('retrain') }}">Retrain</a></li>
    </ul>
    <section>
        <h1>Bienvenido a la Página del Modelo y de los resultados</h1>
        <p>Aqui encontrarás la información del modelo de machine learning seleccionado y los resultados del mismo:</p>
        <ul>
            <li><strong>Modelo:</strong> Hemos escogido el siguiente modelo: .</li>
            <li><strong>Resultados:</strong> Revisa los resultados obtenidos y cómo se presentan.</li>
        </ul>
        <p>Cada enlace en la barra de navegación te llevará a una sección específica donde podrás obtener más detalles sobre cada aspecto del proyecto.</p>
    </section>
{% endblock %}
